In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
data = pd.read_csv('modelling_v3_11_201912121643.csv')

In [3]:
data.nunique()

vin            863958
contact_id    1697721
phone         1571298
email         1030668
dtype: int64

In [137]:
t1 = data.email.tolist()
t2 = data.email.dropna().tolist()
len(t1),len(t2), len(data[data.email.isnull()])

(2806912, 1893612, 913300)

In [138]:
len(data[data.email.isnull() & data.phone.isnull()]), len(data[data.vin.isnull()])

(0, 0)

In [14]:
df2 = data[['vin','phone','email']].copy()
df2['cust_group'] = 0

imax = df2.vin.nunique()

df_group = pd.DataFrame(columns=['vin','phone','email','cust_group'])
group_count = 1

a = datetime.datetime.now()

for i in range(imax):
    
    if (len(df2) == 0):
        break
    
    tvin = df2.iloc[0].vin
    
    df2.loc[df2.vin == tvin, 'cust_group'] = group_count
    df_group = df_group.append(df2[df2.vin == tvin],sort = False)
    df2.drop(df2.loc[df2.vin == tvin].index, inplace = True)
    
    phones = []
    emails = []
    phones.extend(df_group[df_group.vin == tvin].phone.dropna().tolist())
    emails.extend(df_group[df_group.vin == tvin].email.dropna().tolist())
    
    for i in range(imax):
        app_group = pd.DataFrame(columns=['vin','phone','email','cust_group'])
        
        vin_es = df2[df2.email.isin(emails)].vin.tolist()
        vin_ps = df2[df2.phone.isin(phones)].vin.tolist()
        vins = list(set(vin_es + vin_ps))
        
        app_group = df2[df2.vin.isin(vins)]
        app_group.cust_group = group_count
        l = len(app_group)
        
        if (l == 0):
            group_count += 1
            break
        
        df_group = df_group.append(app_group,sort = False)
        df2.drop(app_group.index, inplace = True)
        emails = []
        phones = []
        emails.extend(app_group.email.dropna().tolist())
        phones.extend(app_group.phone.dropna().tolist())
        app_group.drop(app_group.index, inplace = True)
        
b = datetime.datetime.now()
delta = b - a
print(delta)

KeyboardInterrupt:

In [ ]:
df_group_1 = df_group.copy()

In [ ]:
df_group.to_csv('df_group1.csv')

In [11]:
df_group

                    vin         phone                         email cust_group
0     MALBB51RLCM418893  9.788730e+09       sathish.m1407@gmail.com          1
2     MALBB51RLCM418893  9.500062e+09                           NaN          1
12    MALBB51RLCM418893  9.677214e+09                           NaN          1
13    MALBB51RLCM418893           NaN   abdulrahman1971.m@gmail.com          1
14    MALBB51RLCM418893  9.788730e+09                           NaN          1
...                 ...           ...                           ...        ...
9995  MALA841DLEM018672  9.783221e+09                           NaN       3565
9997  MALA841DLEM018672  9.887163e+09                           NaN       3565
9996  MALA351ALEM296324  9.830427e+09                           NaN       3566
9998  MALA351ALEM296324           NaN  dravijitmondal2010@gmail.com       3566
9999  MALA351ALEM296324  8.972041e+09                           NaN       3566

[10000 rows x 4 columns]

In [13]:
df_group.cust_group.value_counts()

2903    33
2607    25
1765    24
591     21
3268    19
        ..
1611     1
748      1
2508     1
746      1
2853     1
Name: cust_group, Length: 3566, dtype: int64

In [69]:
len(df_group[df_group.vin == 'MALCN41CR6M005721'])

7943

In [37]:
df_group.vin.nunique()

87718

In [74]:
from tqdm import tqdm

In [83]:
df2 = data[['vin','phone','email']].head(10000).copy()
df2['cust_group'] = 0

imax = df2.vin.nunique()

df_group = pd.DataFrame(columns=['vin','phone','email','cust_group'])
group_count = 1

a = datetime.datetime.now()

for i in range(imax):
    
    if (len(df2) == 0):
        break
    
    tvin = df2.iloc[0].vin
    
    df2.loc[df2.vin == tvin, 'cust_group'] = group_count
    df_group = df_group.append(df2[df2.vin == tvin],sort = False)
    df2.drop(df2.loc[df2.vin == tvin].index, inplace = True)
    
    phones = []
    emails = []
    phones.extend(df_group[df_group.vin == tvin].phone.tolist())
    emails.extend(df_group[df_group.vin == tvin].email.tolist())
    
    for i in range(imax):
        app_group = pd.DataFrame(columns=['vin','phone','email','cust_group'])
        
        vin_es = df2[df2.email.isin(emails)].vin.tolist()
        vin_ps = df2[df2.phone.isin(phones)].vin.tolist()
        vins = list(set(vin_es + vin_ps))
        
        app_group = df2[df2.vin.isin(vins)]
        app_group.cust_group = group_count
        l = len(app_group)
        
        if (l == 0):
            group_count += 1
            break
        
        df_group = df_group.append(app_group,sort = False)
        df2.drop(app_group.index, inplace = True)
        emails = []
        phones = []
        emails.extend(app_group.email.tolist())
        phones.extend(app_group.phone.tolist())
        app_group.drop(app_group.index, inplace = True)
        
b = datetime.datetime.now()
delta = b - a
print(delta)

0:00:02.254000