In [1]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn import preprocessing

In [16]:
df = pd.read_csv("features_50_v2_201912241045.csv", header=0)

In [17]:
df1=df.copy()

In [18]:
df.head()
#df.dtypes

,cust_group,max_con_cd,max_city_cd,city,region,state,zone,max_sub_type,max_frequency,avg_odo_rd,...,ps_ro_avg_9,ps_ro_avg_12,rr_ro_avg_3,rr_ro_avg_6,rr_ro_avg_9,rr_ro_avg_12,ot_ro_avg_3,ot_ro_avg_6,ot_ro_avg_9,ot_ro_avg_12
0,193386,E,20,PUNE,West 3,Maharashtra,West,Flagship,Annual,6503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,195241,E,NaN,NaN,NaN,NaN,NaN,Flagship,Annual,9354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,I,755,BHOPAL,West 4,Madhya Pradesh,West,Special Day,Annual,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,203129,E,2774,MODASA,West 2,Gujarat,West,Flagship,Annual,8239.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,204170,I,80,BANGALORE,South 4,Karnataka,South,Flagship,Annual,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [19]:
#df['vehicle_age_bin'].nunique(), df['vehicle_age_bin'].unique()
df['vehicle_age_bin'].value_counts()
#df['vehicle_age_bin_mod'].value_counts()

Gold(0-3Y)          534927
Platinum(4Y-5Y)      50677
Diamond(6Y-7Y)       10982
Sapphire(8Y-10Y)      4645
Loyal(GT 10Y)         1944
Name: vehicle_age_bin, dtype: int64

In [20]:
#Combining Bins for Vehicle Age Bin
df.loc[(df['vehicle_age_bin'] == 'Loyal(GT 10Y)') |
       (df['vehicle_age_bin'] == 'Sapphire(8Y-10Y)')|
       (df['vehicle_age_bin'] == 'Platinum(4Y-5Y)')|
       (df['vehicle_age_bin'] == 'Diamond(6Y-7Y)'), 'vehicle_age_bin'] = 'Others'

In [9]:
#Dropping Missing Values
df.shape
#df=df.dropna()
df.shape

(603175, 73)

In [26]:
df=df.fillna(0)

In [35]:
del df['city']

In [22]:
df.shape

(603175, 73)

In [23]:
df.loc[(df['labels'] == 'b') |
       (df['labels'] == 'e')|
       (df['labels'] == 's'), 'labels'] = 'r'

In [30]:
#Target Variable Encoding
encoder = preprocessing.LabelEncoder()
df["labels"].value_counts()
#df["labels"] = encoder.fit_transform(df["labels"])#.fillna('Nan'))
#df["labels"].value_counts()

r    363788
n    239387
Name: labels, dtype: int64

In [44]:
ds_cat = df.select_dtypes(include = 'object').copy()
ds_num = df.select_dtypes(exclude = 'object').copy()
ds_cat.head()
#ds_num.head()

,max_con_cd,region,state,zone,max_sub_type,max_frequency,car_own_ty,vehicle_age_bin,max_fuel_cd,max_veh_type,labels
0,E,West 3,Maharashtra,West,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
1,E,0,0,0,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
2,I,West 4,Madhya Pradesh,West,Special Day,Annual,Single,Others,Petrol,Hatchback,n
3,E,West 2,Gujarat,West,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
4,I,South 4,Karnataka,South,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,n

In [45]:
import numpy as np
ds_cat.replace(0, np.nan, inplace=True)

In [46]:
ds_cat.fillna('Nope')

,max_con_cd,region,state,zone,max_sub_type,max_frequency,car_own_ty,vehicle_age_bin,max_fuel_cd,max_veh_type,labels
0,E,West 3,Maharashtra,West,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
1,E,Nope,Nope,Nope,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
2,I,West 4,Madhya Pradesh,West,Special Day,Annual,Single,Others,Petrol,Hatchback,n
3,E,West 2,Gujarat,West,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
4,I,South 4,Karnataka,South,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,n
...,...,...,...,...,...,...,...,...,...,...,...
603170,I,Nope,Nope,Nope,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,n
603171,E,West 3,Maharashtra,West,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
603172,E,West 3,Maharashtra,West,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
603173,I,West 3,Maharashtra,West,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,n
603174,I,Nope,Nope,Nope,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r

In [47]:
ds_cat.dtypes

max_con_cd         object
region             object
state              object
zone               object
max_sub_type       object
max_frequency      object
car_own_ty         object
vehicle_age_bin    object
max_fuel_cd        object
max_veh_type       object
labels             object
dtype: object

In [98]:
df.groupby('labels')['vehicle_age_bin'].count()

labels
n    239387
r    363788
Name: vehicle_age_bin, dtype: int64

In [100]:
pd.crosstab(df.labels,df.vehicle_age_bin)

vehicle_age_bin  Gold(0-3Y)  Others
labels
n                    204723   34664
r                    330204   33584

In [53]:
ds_cat1=ds_cat.copy()

In [56]:
#Label Encoding for all categorical variable
for i in ds_cat.columns:
    print(i)
    ds_cat1[i] = ds_cat[i].astype(str)
    ds_cat1[i] = encoder.fit_transform(ds_cat1[i])

max_con_cd
region
state
zone
max_sub_type
max_frequency
car_own_ty
vehicle_age_bin
max_fuel_cd
max_veh_type
labels

In [69]:
ds_num1=ds_num.copy()

In [84]:
ds_num2=ds_num.copy()

In [72]:
print(ds_num.columns)

Index(['cust_group', 'avg_odo_rd', 'vin_ct', 'dis_vin_ct', 'avg_veh_age',
       'hat_ct', 'sed_ct', 'suv_ct', 'die_ct', 'pet_ct', 'fre_an_ct',
       'fre_as_ct', 'fre_bi_ct', 'fre_on_ct', 'type_fes_ct', 'type_fla_ct',
       'type_oth_ct', 'type_sea_ct', 'type_spe_ct', 'war_ind', 'avg_3',
       'avg_6', 'avg_9', 'avg_12', 'fs_avg_3', 'fs_avg_6', 'fs_avg_9',
       'fs_avg_12', 'ps_avg_3', 'ps_avg_6', 'ps_avg_9', 'ps_avg_12',
       'rr_avg_3', 'rr_avg_6', 'rr_avg_9', 'rr_avg_12', 'ot_avg_3', 'ot_avg_6',
       'ot_avg_9', 'ot_avg_12', 'ro_avg_3', 'ro_avg_6', 'ro_avg_9',
       'ro_avg_12', 'fs_ro_avg_3', 'fs_ro_avg_6', 'fs_ro_avg_9',
       'fs_ro_avg_12', 'ps_ro_avg_3', 'ps_ro_avg_6', 'ps_ro_avg_9',
       'ps_ro_avg_12', 'rr_ro_avg_3', 'rr_ro_avg_6', 'rr_ro_avg_9',
       'rr_ro_avg_12', 'ot_ro_avg_3', 'ot_ro_avg_6', 'ot_ro_avg_9',
       'ot_ro_avg_12'],
      dtype='object')

In [77]:
print(ds_num1.columns)

Index(['avg_odo_rd', 'avg_veh_age', 'hat_ct', 'sed_ct', 'suv_ct', 'die_ct',
       'pet_ct', 'fre_an_ct', 'fre_as_ct', 'fre_bi_ct', 'fre_on_ct',
       'type_fes_ct', 'type_fla_ct', 'type_oth_ct', 'type_sea_ct',
       'type_spe_ct', 'war_ind'],
      dtype='object')

In [85]:
ds_num2=ds_num2.drop(['cust_group', 'vin_ct', 'dis_vin_ct', 'avg_3',
       'avg_9', 'avg_12', 'fs_avg_3', 'fs_avg_9',
       'fs_avg_12', 'ps_avg_3', 'ps_avg_9', 'ps_avg_12',
       'rr_avg_3', 'rr_avg_9', 'rr_avg_12', 'ot_avg_3',
       'ot_avg_9', 'ot_avg_12', 'ro_avg_3', 'ro_avg_9',
       'ro_avg_12', 'fs_ro_avg_3', 'fs_ro_avg_9',
       'fs_ro_avg_12', 'ps_ro_avg_3', 'ps_ro_avg_9',
       'ps_ro_avg_12', 'rr_ro_avg_3', 'rr_ro_avg_9',
       'rr_ro_avg_12', 'ot_ro_avg_3', 'ot_ro_avg_9',
       'ot_ro_avg_12'], axis=1)

In [86]:
#Concatenating again #cat & #num
df_new = pd.concat([ds_num2, ds_cat1], axis=1)

In [87]:
#Create X Y objects
X=df_new.loc[:,df_new.columns!='labels']
y=df_new['labels']

In [91]:
X.columns

Index(['avg_odo_rd', 'avg_veh_age', 'hat_ct', 'sed_ct', 'suv_ct', 'die_ct',
       'pet_ct', 'fre_an_ct', 'fre_as_ct', 'fre_bi_ct', 'fre_on_ct',
       'type_fes_ct', 'type_fla_ct', 'type_oth_ct', 'type_sea_ct',
       'type_spe_ct', 'war_ind', 'avg_6', 'fs_avg_6', 'ps_avg_6', 'rr_avg_6',
       'ot_avg_6', 'ro_avg_6', 'fs_ro_avg_6', 'ps_ro_avg_6', 'rr_ro_avg_6',
       'ot_ro_avg_6', 'max_con_cd', 'region', 'state', 'zone', 'max_sub_type',
       'max_frequency', 'car_own_ty', 'vehicle_age_bin', 'max_fuel_cd',
       'max_veh_type'],
      dtype='object')

In [88]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0) # 70% training and 30% test
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(random_state=0)
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

In [89]:
#Predict the response for test dataset
y_pred = clf.predict(X_test)
# Model Evaluation
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print(metrics.confusion_matrix(y_test,y_pred))
print(metrics.classification_report(y_test,y_pred))

Accuracy: 0.9962200129315347
[[ 71264    332]
 [   352 109005]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     71596
           1       1.00      1.00      1.00    109357

    accuracy                           1.00    180953
   macro avg       1.00      1.00      1.00    180953
weighted avg       1.00      1.00      1.00    180953

In [82]:
#Logistic Regression
logreg_clf = LogisticRegression()
log = logreg_clf.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = log.predict(X_test)
# Model Evaluation
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print(metrics.confusion_matrix(y_test,y_pred))
print(metrics.classification_report(y_test,y_pred))

E:\Users1\2003935\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Accuracy: 0.983271899332976
[[ 71531     65]
 [  2962 106395]]
              precision    recall  f1-score   support

           0       0.96      1.00      0.98     71596
           1       1.00      0.97      0.99    109357

    accuracy                           0.98    180953
   macro avg       0.98      0.99      0.98    180953
weighted avg       0.98      0.98      0.98    180953