In [102]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn import preprocessing

In [231]:
df = pd.read_csv("features_52_v2_201912250946.csv", header=0)

E:\Users1\2003935\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [232]:
df1=df.copy()

In [233]:
df.head()
#df.dtypes

,cust_group,max_con_cd,max_city_cd,city,region,state,zone,max_sub_type,max_frequency,avg_odo_rd,...,rr_ro_avg_9,rr_ro_avg_12,ot_ro_avg_3,ot_ro_avg_6,ot_ro_avg_9,ot_ro_avg_12,age_1,age_2,age_3,age_others
0,193386,E,20,PUNE,West 3,Maharashtra,West,Flagship,Annual,6503.0,...,NaN,NaN,0.0,0.0,0.0,0.0,1,0,0,0
1,195241,E,NaN,NaN,NaN,NaN,NaN,Flagship,Annual,9354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0
2,2015,I,755,BHOPAL,West 4,Madhya Pradesh,West,Special Day,Annual,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0,1
3,203129,E,2774,MODASA,West 2,Gujarat,West,Flagship,Annual,8239.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0
4,204170,I,80,BANGALORE,South 4,Karnataka,South,Flagship,Annual,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,1,0,0,0

In [106]:
#df['vehicle_age_bin'].nunique(), df['vehicle_age_bin'].unique()
df['vehicle_age_bin'].value_counts()
#df['vehicle_age_bin_mod'].value_counts()

Gold(0-3Y)          534927
Platinum(4Y-5Y)      50677
Diamond(6Y-7Y)       10982
Sapphire(8Y-10Y)      4645
Loyal(GT 10Y)         1944
Name: vehicle_age_bin, dtype: int64

In [234]:
#Combining Bins for Vehicle Age Bin
df.loc[(df['vehicle_age_bin'] == 'Loyal(GT 10Y)') |
       (df['vehicle_age_bin'] == 'Sapphire(8Y-10Y)')|
       (df['vehicle_age_bin'] == 'Platinum(4Y-5Y)')|
       (df['vehicle_age_bin'] == 'Diamond(6Y-7Y)'), 'vehicle_age_bin'] = 'Others'

In [108]:
#Dropping Missing Values
df.shape
#df=df.dropna()
df.shape

(603175, 73)

In [235]:
del df['city']
del df['max_city_cd']

In [236]:
df.shape

(603175, 75)

In [237]:
df.loc[(df['labels'] == 'b') |
       (df['labels'] == 'e')|
       (df['labels'] == 's'), 'labels'] = 'r'

In [238]:
#Target Variable Encoding
encoder = preprocessing.LabelEncoder()
df["labels"].value_counts()
#df["labels"] = encoder.fit_transform(df["labels"])#.fillna('Nan'))
#df["labels"].value_counts()

r    363788
n    239387
Name: labels, dtype: int64

In [239]:
ds_cat = df.select_dtypes(include = 'object').copy()
ds_num = df.select_dtypes(exclude = 'object').copy()
ds_cat.head()
#ds_num.head()

,max_con_cd,region,state,zone,max_sub_type,max_frequency,car_own_ty,vehicle_age_bin,max_fuel_cd,max_veh_type,labels
0,E,West 3,Maharashtra,West,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
1,E,NaN,NaN,NaN,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
2,I,West 4,Madhya Pradesh,West,Special Day,Annual,Single,Others,Petrol,Hatchback,n
3,E,West 2,Gujarat,West,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,r
4,I,South 4,Karnataka,South,Flagship,Annual,Single,Gold(0-3Y),Petrol,Hatchback,n

In [241]:
ds_cat=ds_cat.fillna('Nope')

In [242]:
ds_num=ds_num.fillna(0)

In [243]:
print(ds_num.columns)

Index(['cust_group', 'avg_odo_rd', 'vin_ct', 'dis_vin_ct', 'avg_veh_age',
       'hat_ct', 'sed_ct', 'suv_ct', 'die_ct', 'pet_ct', 'fre_an_ct',
       'fre_as_ct', 'fre_bi_ct', 'fre_on_ct', 'type_fes_ct', 'type_fla_ct',
       'type_oth_ct', 'type_sea_ct', 'type_spe_ct', 'war_ind', 'avg_3',
       'avg_6', 'avg_9', 'avg_12', 'fs_avg_3', 'fs_avg_6', 'fs_avg_9',
       'fs_avg_12', 'ps_avg_3', 'ps_avg_6', 'ps_avg_9', 'ps_avg_12',
       'rr_avg_3', 'rr_avg_6', 'rr_avg_9', 'rr_avg_12', 'ot_avg_3', 'ot_avg_6',
       'ot_avg_9', 'ot_avg_12', 'ro_avg_3', 'ro_avg_6', 'ro_avg_9',
       'ro_avg_12', 'fs_ro_avg_3', 'fs_ro_avg_6', 'fs_ro_avg_9',
       'fs_ro_avg_12', 'ps_ro_avg_3', 'ps_ro_avg_6', 'ps_ro_avg_9',
       'ps_ro_avg_12', 'rr_ro_avg_3', 'rr_ro_avg_6', 'rr_ro_avg_9',
       'rr_ro_avg_12', 'ot_ro_avg_3', 'ot_ro_avg_6', 'ot_ro_avg_9',
       'ot_ro_avg_12', 'age_1', 'age_2', 'age_3', 'age_others'],
      dtype='object')

In [246]:
ds_cat1 = ds_cat.copy()
ds_cat1 = ds_cat1.drop(['max_sub_type','max_frequency','max_fuel_cd','max_veh_type','vehicle_age_bin','car_own_ty'],axis=1)
#Label Encoding for all categorical variable - existing one
for i in ds_cat1.columns:
    print(i)
    ds_cat1[i] = ds_cat1[i].astype(str)
    ds_cat1[i] = encoder.fit_transform(ds_cat1[i])

ds_num1=ds_num.copy()

#with minimal RO and for an existing customer
ds_num1=ds_num1.drop(['cust_group','avg_odo_rd', 'dis_vin_ct','avg_3',
       'avg_9', 'avg_12', 'fs_avg_3', 'fs_avg_9',
       'fs_avg_12', 'ps_avg_3', 'ps_avg_9', 'ps_avg_12',
       'rr_avg_3', 'rr_avg_9', 'rr_avg_12', 'ot_avg_3',
       'ot_avg_9', 'ot_avg_12', 'ro_avg_3', 'ro_avg_9',
       'ro_avg_12', 'fs_ro_avg_3', 'fs_ro_avg_9',
       'fs_ro_avg_12', 'ps_ro_avg_3', 'ps_ro_avg_9',
       'ps_ro_avg_12', 'rr_ro_avg_3', 'rr_ro_avg_9',
       'rr_ro_avg_12', 'ot_ro_avg_3', 'ot_ro_avg_9',
       'ot_ro_avg_12'], axis=1)

max_con_cd
region
state
zone
labels

In [247]:
df_new1 = pd.concat([ds_num1, ds_cat1], axis=1)

X1=df_new1.loc[:,df_new1.columns!='labels']
y1=df_new1['labels']

# Split dataset into training set and test set
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.3, random_state=0) # 70% training and 30% test
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(random_state=0)
# Train Decision Tree Classifer
clf1 = clf.fit(X1_train,y1_train)

#Predict the response for test dataset
y1_pred = clf1.predict(X1_test)
# Model Evaluation
print("Accuracy:",metrics.accuracy_score(y1_test, y1_pred))
print(metrics.confusion_matrix(y1_test,y1_pred))
print(metrics.classification_report(y1_test,y1_pred))

Accuracy: 0.60897581139854
[[37236 34519]
 [36238 72960]]
              precision    recall  f1-score   support

           0       0.51      0.52      0.51     71755
           1       0.68      0.67      0.67    109198

    accuracy                           0.61    180953
   macro avg       0.59      0.59      0.59    180953
weighted avg       0.61      0.61      0.61    180953

In [203]:
ds_cat2=ds_cat.copy()
ds_cat2 = ds_cat2.drop(['max_sub_type','max_frequency','max_fuel_cd','max_veh_type','vehicle_age_bin','car_own_ty'],axis=1)

#Label Encoding for all categorical variable - new customers
for i in ds_cat2.columns:
    print(i)
    ds_cat2[i] = ds_cat2[i].astype(str)
    ds_cat2[i] = encoder.fit_transform(ds_cat2[i])

ds_num2=ds_num.copy()

#with minal RO and for a new customer
ds_num2=ds_num2.drop(['cust_group','avg_odo_rd', 'vin_ct','avg_veh_age', 'dis_vin_ct', 'fre_an_ct',
       'fre_as_ct', 'fre_bi_ct', 'fre_on_ct', 'type_fes_ct', 'type_fla_ct',
       'type_oth_ct', 'type_sea_ct', 'type_spe_ct', 'war_ind', 'avg_3',
       'avg_6', 'avg_9', 'avg_12', 'fs_avg_3', 'fs_avg_6', 'fs_avg_9',
       'fs_avg_12', 'ps_avg_3', 'ps_avg_6', 'ps_avg_9', 'ps_avg_12',
       'rr_avg_3', 'rr_avg_6', 'rr_avg_9', 'rr_avg_12', 'ot_avg_3', 'ot_avg_6',
       'ot_avg_9', 'ot_avg_12', 'ro_avg_3', 'ro_avg_6', 'ro_avg_9',
       'ro_avg_12', 'fs_ro_avg_3', 'fs_ro_avg_6', 'fs_ro_avg_9',
       'fs_ro_avg_12', 'ps_ro_avg_3', 'ps_ro_avg_6', 'ps_ro_avg_9',
       'ps_ro_avg_12', 'rr_ro_avg_3', 'rr_ro_avg_6', 'rr_ro_avg_9',
       'rr_ro_avg_12', 'ot_ro_avg_3', 'ot_ro_avg_6', 'ot_ro_avg_9',
       'ot_ro_avg_12'], axis=1)

In [211]:
df_new2 = pd.concat([ds_num2, ds_cat2], axis=1)

#Create X Y objects
X2=df_new2.loc[:,df_new2.columns!='labels']
y2=df_new2['labels']

# Split dataset into training set and test set - NEW CUSTOMER
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=0) # 70% training and 30% test
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(random_state=0)
# Train Decision Tree Classifer
clf2 = clf.fit(X2_train,y2_train)

#Predict the response for test dataset - NEW CUSTOMER
y2_pred = clf2.predict(X2_test)
# Model Evaluation
print("Accuracy:",metrics.accuracy_score(y2_test, y2_pred))
print(metrics.confusion_matrix(y2_test,y2_pred))
print(metrics.classification_report(y2_test,y2_pred))

Accuracy: 0.6041734594065863
[[  4339  67257]
 [  4369 104988]]
              precision    recall  f1-score   support

           0       0.50      0.06      0.11     71596
           1       0.61      0.96      0.75    109357

    accuracy                           0.60    180953
   macro avg       0.55      0.51      0.43    180953
weighted avg       0.57      0.60      0.49    180953

In [248]:
X2.columns

Index(['hat_ct', 'sed_ct', 'suv_ct', 'die_ct', 'pet_ct', 'max_con_cd',
       'region', 'state', 'zone'],
      dtype='object')

In [214]:
#All variables
df_new3 = pd.concat([ds_num,ds_cat1],axis=1)

X3=df_new3.loc[:,df_new3.columns!='labels']
y3=df_new3['labels']

# Split dataset into training set and test set
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.3, random_state=0) # 70% training and 30% test
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(random_state=0)
# Train Decision Tree Classifer
clf3 = clf.fit(X3_train,y3_train)

#Predict the response for test dataset
y3_pred = clf3.predict(X3_test)
# Model Evaluation
print("Accuracy:",metrics.accuracy_score(y3_test, y3_pred))
print(metrics.confusion_matrix(y3_test,y3_pred))
print(metrics.classification_report(y3_test,y3_pred))

Accuracy: 0.9960818555094417
[[ 71218    378]
 [   331 109026]]
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     71596
           1       1.00      1.00      1.00    109357

    accuracy                           1.00    180953
   macro avg       1.00      1.00      1.00    180953
weighted avg       1.00      1.00      1.00    180953

In [82]:
#Logistic Regression
logreg_clf = LogisticRegression()
log = logreg_clf.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = log.predict(X_test)
# Model Evaluation
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print(metrics.confusion_matrix(y_test,y_pred))
print(metrics.classification_report(y_test,y_pred))

E:\Users1\2003935\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Accuracy: 0.983271899332976
[[ 71531     65]
 [  2962 106395]]
              precision    recall  f1-score   support

           0       0.96      1.00      0.98     71596
           1       1.00      0.97      0.99    109357

    accuracy                           0.98    180953
   macro avg       0.98      0.99      0.98    180953
weighted avg       0.98      0.98      0.98    180953